.react-datepicker-wrapper {
  width: auto;
}

.react-datepicker__input-container {
  width: auto;
}

.react-datepicker-popper {
  z-index: 100;
}

.react-datepicker {
  font-family: inherit;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.react-datepicker__header {
  background-color: hsl(var(--secondary));
  border-bottom: 1px solid hsl(var(--border));
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__time-name {
  color: hsl(var(--foreground));
}

.react-datepicker__day {
  color: hsl(var(--foreground));
}

.react-datepicker__day:hover {
  background-color: hsl(var(--accent));
}

.react-datepicker__day--selected {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
}

.react-datepicker__time-container {
  border-left: 1px solid hsl(var(--border));
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: hsl(var(--background));
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  color: hsl(var(--foreground));
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background-color: hsl(var(--accent));
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
}
